@font-face {
  font-family: "iconfont"; /* Project id 2807187 */
  /* Color fonts */
  src:
    url('//at.alicdn.com/t/font_2807187_h7jhfu9f3i4.woff2?t=1631849617080') format('woff2'),
    url('//at.alicdn.com/t/font_2807187_h7jhfu9f3i4.woff?t=1631849617080') format('woff'),
    url('//at.alicdn.com/t/font_2807187_h7jhfu9f3i4.ttf?t=1631849617080') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liulan1:before {
  content: "\e67e";
}

.icon-zhiding:before {
  content: "\e62a";
  font-size: 17px;
}

.icon-huabanfuben:before {
  content: "\e692";
  font-size: 30px;
}

.icon-GitHub:before {
  content: "\ea0a";
  font-size: 30px;
}

.icon-weixin:before {
  content: "\fae4";
  font-size: 30px;
}

.icon-QQ:before {
  content: "\e610";
  font-size: 30px;
}

.icon-lianjie_:before {
  content: "\e685";
}

.icon-biaoqian_huaban1:before {
  content: "\e605";
}

.icon-tongzhi:before {
  content: "\e690";
}

.icon-lianjie1:before {
  content: "\e7db";
}

.icon-youqinglianjie:before {
  content: "\e614";
}

.icon-paihang:before {
  content: "\fb3b";
}

.icon-huore:before {
  content: "\fb30";
}
