.el-submenu{
  border-bottom: 1px solid #e6e6e6;
  background-color: #f2f2f2;
 }
.el-menu-item .el-submenu__title{
  height: 45px !important;
  line-height: 45px !important;
}

.el-menu-item{
  height: 45px !important;
  line-height: 45px !important;
  border-bottom: 1px dotted #e0e0e0;
}


  /*     设置滚动条     */
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width:12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius:10px;
  background:rgba(0,0,0,0.1);
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background:#ecf0f1;
}
